{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'lab9/css/styles.css' %}"/>

    <title>Welcome</title>

    </head>
    <body>
        <div>
            <nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #e3f2fd;">
                <a class="navbar-brand" href="#" style="padding-left: 20px">
                <img src="{% static 'lab9/images/Logo.png' %}" width="40" height="40" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAlt">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAlt">
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <p class="centered" style="margin-right: 20px;">Welcome, {{ user.username }}</p>
                        </li>
                        <li class="nav-item">
                            <a class="active btn btn-primary" href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <p class="centered" style="margin-right: 20px;">You are not logged in.</p>
                        </li>
                        <li class="nav-item">
                            <a class="active btn btn-primary" href="{% url 'login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
                
        <div id="home" class="bg_main">
            <div class="container text-center centered">
                <div class="row">
                <div class="col-md-6">
                    <div>
                        {% if user.is_authenticated %}
                            <h1 class="title_white">Hello {{ user.username }}</h1>
                        {% else %}
                            <h1 class="title_white">Hello Mr X</h1>
                        {% endif %}
                    </div>
                    <div class="parag_white">
                    <p>Welcome to my website! You are going to know more about me here. 
                        Hope you like this website, enjoy!</p>
                    </div>
                </div>
                <div class="col-md-6 resp_img">
                    <div style="text-align: center">
                    <img src="{% static 'lab9/images/main_compboy.png' %}" class="img-responsive alt="Yeah!">
                    </div>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>