{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'lab9/css/styles.css' %}"/>

    <title>Welcome</title>

    </head>
    <body>
        <div class="container">
            <div class="login-panel">
            <p class="text-center"><img src="{% static 'lab9/images/Logo.png' %}" width="40" height="40" alt=""></p>
            <h4 class="title_black">Welcome!</h4>
            <div class="row">
                <div class="col-sm-6 mx-auto">
                <form class="form-group" method="POST" id="form_login" action="{% url 'login' %}">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                        </div>
                    {% endfor %}
                    {% if form.non_field_errors %}
                    <div style="padding-top: 5px;">
                        {% for err in form.non_field_errors %}
                        <p class="alert alert-danger">{{ err }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <button type="submit" class="btn btn-info btn-marg">Login</button>
                </form>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>